* {
	background-color: white;
	font-family: 'Lato', sans-serif;
	color: #320f0f;
	text-align: center;
	text-decoration: none;
	margin: 8px;
}

.grid {
	width: 600px;
	height: 600px;
	margin: auto;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	padding: 10px;
}

.grid_sq {
	display: inline-block;
	background-color: #F3CF0F;
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 200px;
	height: 200px;
}

img {
	margin: 0;
	padding: 0;
}